@media screen and (min-width: 768px) {
	.container {
		max-width: 730px !important;
	}
}

@media screen and (max-width: 576px) {
	.container {
		padding: 0 1.5rem;
	}
	.bookmark-name {
		font-size: 1rem !important;
	}
}
